.App {
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  margin: 0;
}
.header{
  background-color: rgb(85, 75, 95);
  padding: 10px ;
}

.movie{
  background-color: #b6b9b9;
  color: black;
  padding: 3px ;
  border: 5px solid rgb(189, 147, 147);
  font-weight: bold;
  width: 25%;
  margin-top: 20px;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  text-align: start;

}

.movie img{
  width: 100%;
  height: 250px;
}